/*---- 方案A: 全部引入 ----*/

// Include any default variable overrides here (though functions won't be available)
// 修改的自定義變數，要寫在 @import 上面

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      // responsive: true,  //如果新增的 utility 不需要 RWD，可以避免css檔案太大而不加
      values: auto pointer grab,
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                custom: 65%,
                10: 10%,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    "border-width":
      map-merge(
        map-get($utilities, "border-width"),
        (
          responsive: true,
        )
      ),
    "margin-start":
      map-merge(
        map-get($utilities, "margin-start"),
        (
          class: ml,
        )
      ),
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// 自定義的 map 必須放在 @import 的下面
