//就像寫 function 一樣寫樣式
@mixin square($size, $color: chocolate) {
  width: $size;
  height: $size;
  background-color: $color;
  margin-bottom: 10px;

  @if $size > 100px {
    border-radius: 99px;
  }
}

@function getMarginLeft($size) {
  @if $size < 100px {
    @return 30px;
  } @else {
    @return calc($size / 2);
  }
}

.box {
  @include square(85px, orange); //就像是使用 function 一樣
  margin-left: getMarginLeft(50px);
}

.box1 {
  @include square(100px, green);
  margin-left: getMarginLeft(100px);
}

.box2 {
  @include square(200px);
  margin-left: getMarginLeft(200px);
}
