@use "sass:map";

//-----1.---------

// $font-weights: (
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
// );

// $font-weights: map.set($font-weights, "extra-bold", 900);

//-----2.---------

$font-weights: ();

$light-weights: (
  "lightest": 100,
  "light": 300,
);

$heavy-weights: (
  "medium": 500,
  "bold": 700,
);

$font-weights: map.merge($light-weights, $heavy-weights);

//-------------------------

$text: (
  "large": 64px,
  "small": 16px,
);

.title {
  font-weight: map.get($font-weights, "lightest");
  font-size: larger;
}
