//index.scss 放自定義的 class

@import "custom";

.box {
  height: 100px;
  background-color: rgb(135, 222, 135);
}

.box2 {
  height: 100px;
  background-color: rgb(135, 187, 222);
}

.box3 {
  height: 100px;
  background-color: burlywood;
}

.custom-container {
  @include make-container();
}
